<div class="container">
	<div class="alert alert-{{vm.alert.type}}" role="alert" ng-if="vm.alert.message">{{vm.alert.message}}</div>
	
	<form ng-submit="vm.submit()">
		<fieldset class="form-group">
			<label for="title">Title</label>
			<input class="form-control" type="text" size="60" maxlength="60" id="title" ng-model="vm.title" required>
		</fieldset>
		
		<fieldset class="form-group">	
			<label for="snippet">Code</label>
			<textarea class="form-control" rows="20" cols="70" id="code" ng-model="vm.code" maxlength="4000" required></textarea>
		</fieldset>
	
		<div class="text-center">
			<input class="btn btn-default btn-lg" type="submit" value="Create">				
		</div>
		
	</form>
</div>
	