<div class="container">
	<div class="alert alert-{{vm.alert.type}}" role="alert" ng-if="vm.alert.message">{{vm.alert.message}}</div>
	
	<form ng-submit="vm.submit()">	
		<div class="col-xs-12 col-sm-6">
			<fieldset class="form-group">
				<label for="title">Title</label>
				<input class="form-control" type="text" size="60" maxlength="60" ng-model="vm.snippet.title" required>
			</fieldset>
		</div>
		
		<div class="col-xs-12 col-sm-3">
			<fieldset class="form-group">
				<label for="language">Language</label>
				<select class="form-control" ng-model="vm.language" ng-options="language.name for language in vm.languages"></select>
			</fieldset>
		</div>
		
		<div class="col-xs-12">	
			<fieldset class="form-group">
				<label for="description">Description</label>
				<textarea class="form-control" rows="2" cols="70" ng-model="vm.snippet.description" maxlength="330"></textarea>
			</fieldset>
		</div>
	
	
		<div class="col-xs-12">	
			<fieldset class="form-group">
				<label for="snippet">Code</label>
				<textarea class="form-control" rows="20" cols="60" id="code" ng-model="vm.snippet.code" maxlength="4000" required></textarea>
			</fieldset>
		</div>
		
		<div class="col-xs-12">
			<input class="btn btn-primary btn-lg" type="submit" value="{{vm.action}}">				
		</div>
				
	</form>
</div>
	